name: Cypress Tests
on:
  push:
    branches:
      - testes

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Checkout server
        uses: actions/checkout@v4
        with:
          path: server

      - name: Start Server BackEnd
        working-directory: server
        run: |
          npm install
          npm start &
          until [ "$(curl -s -o /dev/null -w "%{http_code}" http://localhost:8080)" == "200" ]; do
            echo "Waiting for server to start..."
            sleep 1
          done
          echo "Server is running successfully."

      - name: Start Web App FrontEnd
        working-directory: web
        run: |
          npm install
          npm start &

      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          spec: |
            cypress/e2e/cadastro-sucesso.cy.js
            cypress/e2e/login-clinica.cy.js
            cypress/e2e/dashboard.cy.js
          wait-on: "http://localhost:3000,http://localhost:8080"
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }} 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
